@import url('colores.css');

/* Estilos de Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: var(--margin-general) 0;
}

th {
    background-color: var(--color-primario);
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #e2e8f0;
}

/* Estilos de Listas */
ul.lista-estilizada {
    list-style: none;
    padding: 0;
}

ul.lista-estilizada li {
    background: #f8fafc;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-left: 5px solid var(--color-secundario);
    border-radius: 4px;
}